*{
 margin: 0px;
 padding: 0px;
}
/* HEAD */
header{
 padding: 20px;
 background: grey;
}
header h1{
 margin-left: 100px;
}

/* NAV */
.searchDiv{

}
.searchDiv input{
  font-size: 1.5rem;
  border-radius: 10px;
  padding-left: 10px;
  
}
.searchDiv input:focus{
  
  outline: 0;
  -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
}
.searchDiv button{
 border: 1px black solid;
 border-radius: 10px;
 font-size: 1.5rem;
 padding-left: 10px;
 padding-right: 10px;
 margin-left: 10px;
 background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;

   

}

.searchDiv button:hover{
 background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
 background-color:#6c7c7c;
 -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
}

.checkBoxesDiv{
 font-size: 1.2rem;
 
}
